---
import DetailWrapper from './DetailWrapper.astro'
export interface Props {
	href: string
}
const { href } = Astro.props
---

<a href={href}>
	<DetailWrapper>
		<slot name="icon" />
		<slot />
	</DetailWrapper>
</a>
