---
import AnchorDetail from './AnchorDetail.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import { type Props as AnchorProps } from './AnchorDetail.astro'

interface Props extends AnchorProps {}
---

<AnchorDetail href={Astro.props.href}>
	<GithubIcon slot="icon" class="size-5" />
	<span>Github</span>
</AnchorDetail>
