---
import GithubIcon from '../icons/GithubIcon.astro'
import DetailWrapper from './DetailWrapper.astro'
---

<DetailWrapper>
	<GithubIcon slot="icon" class="size-5" />
	<span>Github</span>
</DetailWrapper>
