---
import DetailWrapper from './DetailWrapper.astro'
import LinkedInIcon from '../icons/LinkedInIcon.astro'
---

<DetailWrapper>
	<LinkedInIcon class="size-5" slot="icon" />
	<span>LinkedIn</span>
</DetailWrapper>
