<span
	class="w-fit cursor-default overflow-hidden text-ellipsis whitespace-nowrap rounded-full border border-gray-800/50 px-4 py-0.5 text-sm font-light transition-colors hover:bg-hd-grey/[2%] dark:border-teal-100/50 hover:dark:bg-hd-white/[2%]"
>
	<slot />
</span>
