<span
	class="w-fit overflow-hidden text-ellipsis whitespace-nowrap rounded-full border border-teal-100/50 px-4 py-0.5 text-sm font-light transition-colors hover:bg-hd-white/[2%]"
>
	<slot />
</span>
