---
import '@fontsource-variable/onest'
import Navbar from '@/components/Navbar.astro'
interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ?? ''} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-hd-white pt-24 text-hd-black dark:bg-hd-black dark:text-hd-white">
		<Navbar />
		<main class="w-full max-w-screen-md px-8 pb-8 md:mx-auto xl:max-w-screen-lg">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
</style>
